* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: gilroy;
  color: #fff;
}

#cursor {
  height: 20px;
  width: 20px;
  background-color: #95c11e;
  border-radius: 50%;
  position: fixed;
  z-index: 11;
  transition: all linear 0.1s;
}

#cursor-blur {
  height: 450px;
  width: 450px;
  background-color: rgba(150, 193, 30, 0.3);
  border-radius: 50%;
  position: fixed;
  filter: blur(100px);
  z-index: 11;
  transition: all linear 0.4s;
}

nav {
  position: fixed;
  padding: 0 8vw;
  width: 100%;
  height: 17vh;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: flex-start;
  z-index: 99;
}

nav img {
  height: 80px;
}

nav a {
  font-family: neue machina;
  font-weight: 600;
  font-size: 0.98vw;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

nav a:hover {
  color: #b5f408;
  transition: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

video {
  width: 100%;
  /* height: 100%; */
  position: fixed;
  z-index: -1;
}

#main {
  z-index: 10;
  position: relative;
  background: #00000045;
}

#page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  /* background-color: rebeccapurple; */
  z-index: 99;
}

#page1 h1 {
  font-weight: 900;
  font-size: 10vw;
  position: relative;
}

#page1 h1::before {
  content: "EAT. DRINK. PLAY.";
  top: -6px;
  left: -6px;
  -webkit-text-stroke: 3px #b5f408;
  color: rgb(0, 0, 0);
  z-index: -1;
  position: absolute;
}

#page1 h2 {
  font-weight: 600;
  font-size: 2.55vw;
  margin-bottom: 20px;
  margin-top: 8px;
}

#page1 p {
  z-index: 99;
  font-family: neue machina;
  font-weight: 600;
  width: 38%;
  font-size: 1.31vw;
}

#page2 {
  width: 100%;
  height: 100vh;
  z-index: 99;
}
